/*
#dddfd4
#fae596
#3fb0ac
#173e43
#FDFDFD
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #9fa0a1;
  font-family: 'Open Sans', sans-serif;
}

nav {
  float: left;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px 0 #596062;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 5px 0 #596062;
  box-shadow: 0 1px 5px 0 #596062;
  background-color: #0b0d14;
}

nav h1 {
  float: left;
  margin: 10px 5%;
  color: #f4f4f4;
  font-weight: bolder;
  font-size: 20px;
}

nav .nav-links {
  float: right;
  margin: 13px 5%;
}

nav .nav-links a {
  float: right;
  padding-left: 20px;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 15px;
}

nav .nav-links a:hover {
  color: #36b961;
}

.map-ftr {
  height: 500px;
  float: left;
  width: 90%;
  margin: 30px 5%;
  border-radius: 3px;
  -webkit-box-shadow: 2px 3px 5px 0 #596062;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 3px 5px 0 #596062;
  box-shadow: 2px 3px 5px 0 #596062;
  background-color: #0b0d14;
}

#map {
  height: 100%;
  width: 49%;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#right-panel {
  float: left;
  width: 51%;
  height: 100%;
  line-height: 30px;
  color: #f4f4f4;
}

.panel-content {
  margin: 20px;
  float: left;
}

h2 {
  margin: 0 0 10px 0;
  width: 50%;
  float: left;
}

#twitter-div {
  float: right;
}

.user-location {
  float: left;
}

#input-address {
  border-bottom: 1px solid #fff;
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
}

.location-input {
  display: inline-block;
  width: 37%;
}

.middle {
  margin: 0 2%;
}

.location-input label {
  float: left;
  width: 100%;
}

.location-input input {
  float: left;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  padding: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  width: 100%;
}

.location-input input:focus {
  border-color:#36b961;
  outline: none;
}

.search{
  float: left;
  margin-top: 10px;
  width: 70%;
}

.search input {
  border: none;
  font-size: 16px;
}

.location-submit {
  width: 20%;
  float: right;
  margin: 5px auto 15px auto;
}

.location-submit input[type="submit"] {
  background-color: #36b961;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 27px;
  outline: none;
  float: right;
}

#routeInfo p, #click-address p {
  margin: 0;
}

#address-error, #routeInfo {
  float: left;
}

#twitter {
  height: 150px;
  width: 400px;
}

#twitter h3 {
  padding: 0 10px;
  color: #1B95E0;
}

#twitter p {
  padding: 10px;
  border-bottom: 2px solid #1B95E0;
  font-weight: bold;
}