/*
#dddfd4
#fae596
#3fb0ac
#173e43
#FDFDFD
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #9fa0a1;
  font-family: 'Open Sans', sans-serif;
}

nav {
  float: left;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px 0 #596062;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 5px 0 #596062;
  box-shadow: 0 1px 5px 0 #596062;
  background-color: #0b0d14;
}

nav h1 {
  float: left;
  margin: 10px 40px;
  color: #f4f4f4;
  font-weight: bolder;
  font-size: 20px;
}

nav .nav-links {
  float: right;
  margin: 13px 40px;
}

nav .nav-links a {
  float: right;
  padding-right: 20px;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 15px;
}

nav .nav-links a:hover {
  color: #36b961;
}

.map-ftr {
  height: 500px;
  float: left;
  width: 90%;
  margin: 30px 5%;
  border-radius: 3px;
  -webkit-box-shadow: 2px 3px 5px 0 #596062;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 3px 5px 0 #596062;
  box-shadow: 2px 3px 5px 0 #596062;
  background-color: #0b0d14;
}

#map {
  height: 100%;
  width: 49%;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#right-panel {
  float: left;
  width: 49%;
  height: 100%;
  line-height: 30px;
  color: #f4f4f4;
}

.panel-content {
  margin: 20px;
}

.location-input {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
}

.location-input label {
  float: left;
  font-size: 16px;
}

.location-input input {
  float: left;
  background-color: transparent;
  color: #36b961;
  font-weight: bold;
  padding: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px soild #fff;
}

.location-input input:focus {
  border-color:#36b961;
  outline: none;
}
